<div style="text-align:centre">
  h1>
  Here Are My Fave {{ title }}!
</h1>
<h1><i>QUOTES OF THE TIME</i></h1>
<h1><u><i>QUOTES OF THE TIME</i></u></h1>
<br>
<br>
<br>
<br>
<p>place your {{m}} here:~</p>
<br>
<input name placeholder="any quote On your mind?">
<input id="inter" name placeholder="ANY QUOTE ON YOUR mind?">
<br>
<br>
<br>
<button id='submit' class="btn btn-danger">{{quote}}</button>
<ul>
<li *ngFor='let best of quotes'>{{quote}}</li>
</ul>
</div>
<app-quote></app-quote>
<router-outlet></router-outlet>