<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div *ngFor="let quote of quotes; let i = index">
        
        <h3>{{quote.quote}}</h3>
        <button (click)="toggleDetails(i)">Toggle Details</button>
        <app-quote-details *ngIf="quote.showDescription" [quote]='quote' (deleteQuote)='quoteDelete(i)'></app-quote-details>
      </div>
    </div>
    <div class="col-md-6">
      <app-quote-form (addQuote)='addQuote($event)'></app-quote-form>
    </div>
  </div>
</div>

