<div>
    <form (ngSubmit)='submitQuote()' #quoteForm='ngForm'>
        <div class="form-group">
            <label for="quoteInput">Quote</label>
            <textarea name="quote" id="quoteInput" class='form-control' [(ngModel)]='newQuote.quote' rows="5" required></textarea>
        </div>
        <div class="form-group">
            <label for="author">Author</label>
            <input type="text" name='author' [(ngModel)]='newQuote.author' class="form-control" required>
        </div>
        <button type="submit" class='btn btn-outline-success'>Submit</button>
    </form>
</div>
<<body>

        <div class="bg"></div>
    
        <p class="py-5 text-center">This example creates a full page background image. Try to resize the browser window to see how it always will cover the full screen (when scrolled to top), and that it scales nicely on all screen sizes.</p>
    
    </body>